$col: #aaaaaa;
$colHi: #ffffff;
$border: 1px solid $col;
$borderHi: 1px solid $colHi;

body {
  background-image: url("./resources/background_dotted-halftone.jpg");
  background-position: center;
  background-repeat: repeat;
}

p,
span,
a,
li,
h1,
h2,
h3,
h4,
h5,
h6,
input,
label,
textarea,
button {
  color: $col;
  font-family: monospace, Courier;
}
input,
textarea,
button {
  background: none;
  border: $border;
}
input:hover,
input:focus,
textarea:hover,
textarea:focus,
button:hover,
button:focus {
  border: $borderHi;
  outline: none;
}
.textCenter {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}
