$col: #888888;
$colOp: rgba(255, 255, 255, 0.1);
$colOpHi: rgba(255, 255, 255, 0.25);
$colHi: #aaaaaa;
$darkCol: #222222;
$darkColOp: rgba(0,0,0,.5);
$border: 1px solid $col;
$borderDash: 1px dashed $col;
$borderHi: 1px solid $colHi;
$fontSize: 14pt;

body {
  background-image: url("./resources/background_dotted-halftone.jpg");
  // background-position: center;
  background-repeat: repeat;
}

p,
span,
a,
li,
h1,
h2,
h3,
h4,
h5,
h6,
input,
label,
textarea,
select,
button {
  font-size: $fontSize;
  color: $col;
  font-family: monospace, Courier;
}
h1 {
  font-size: calc($fontSize * 1.5);
  text-transform: uppercase;
}
input,
textarea,
select {
  background: none;
  border: $border;
}
button {
  background: none;
  border: none;
}
input:hover,
input:focus,
select:hover,
select:focus,
textarea:hover,
textarea:focus,
button:hover,
button:focus {
  color: $colHi;
  border: $border;
  outline: none;
}
button:active {
  background-color: $colOp;
  border: $border;
  outline: $borderHi;
}
.textCenter {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -60%);
  min-width: 30%;
}
.border {
  border: $border;
}
/////////////// FORMS ///////////////////////////////////////////////
.form {
  margin-top: 5%;
}
.formInputs {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
label {
  margin-right: 10px;
}
/////////////// BOOKMARKS ///////////////////////////////////////////////
.linksBox {
  display: flex;
  gap: 5%;
  margin: 5%;
  padding: 2%;
  text-align: left;
  transform: translate(-20%, -0%);
}
.headerSubsection {
  min-width: 25%;
  outline: $borderDash;
}
.headerBox {
  align-items: center;
  display: flex;
  justify-content: space-between;
  outline: $borderHi;
  padding: 5px;
}
.linkHeader {
  color: $col;
  font-weight: 800;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}
.icon {
  filter: invert(60%);
}
.link {
  margin: 0%;
  padding: 0%;
  text-decoration: none;
  transition: 0.15s linear;
}
.link:hover p,
.link:active p {
  background-color: $colOp;
  color: $colHi !important;
  outline: $borderHi;
}
.link:active {
  background-color: #ffffff !important;
}
.dataButtons {
  bottom: 0%;
  display: flex;
  left: 50%;
  margin: 0%;
  position: absolute;
  transform: translate(-50%, 0%);
  width: 100%;
}
////////////////////// DIALOG ////////////////////////////////////////
.dialog {
  background-color: $darkCol;
  border: $border;

}
.dialog::backdrop {
    background-color: $darkColOp;
}
////////////////////// BUTTONS ////////////////////////////////////////
.wideButton {
  border: $border;
  padding: 1%;
}
.wideButton,
.lowerButton {
  margin-top: 2%;
  width: 100%;
}
.wideButton:hover {
  background-color: $colOp;
}
.lowerButton {
  padding: 10px;
}
.lowerButton:hover {
  background-color: $colOp;
  border: $borderDash;
}
.wideButton:active,
.lowerButton:active {
  background-color: $col;
  outline: $borderHi;
}
