$col: #888888;
$colOp: rgba(255, 255, 255, 0.1);
$colOpHi: rgba(255, 255, 255, 0.25);
$colHi: #aaaaaa;
$darkCol: #222222;
$darkColOp: rgba(0, 0, 0, 0.5);
$border: 1px solid $col;
$borderDash: 1px dashed $col;
$borderHi: 1px solid $colHi;
$fontSize: 12pt;
$padding: 10px;

body {
  background-image: url("./resources/background_dotted-halftone.jpg");
  // background-position: center;
  background-repeat: repeat;
}

p,
span,
a,
li,
h1,
h2,
h3,
h4,
h5,
h6,
input,
label,
textarea,
select,
button {
  font-size: $fontSize;
  color: $col;
  font-family: monospace, Courier;
}
h1 {
  font-size: calc($fontSize * 1.5);
  text-transform: uppercase;
}
input,
textarea,
select {
  background: none;
  border: $border;
}
button {
  background: none;
  border: none;
}
input:hover,
input:focus,
select:hover,
select:focus,
textarea:hover,
textarea:focus,
button:hover,
button:focus {
  color: $colHi;
  border: $border;
  outline: none;
}
button:active {
  background-color: $colOp;
  border: $border;
  outline: $borderHi;
}
.alerter,
.textCenter {
  left: 50%;
  position: absolute;
  text-align: center;
}
.alerter {
  background-color: $col;
  color: $darkCol;
  font-size: calc($fontSize * 3);
  font-weight: bolder;
  text-transform: uppercase;
  top: 10px;
  transform: translate(-50%, 0 );
}
.textCenter {
  top: 50%;
  transform: translate(-50%, -70%);
}
.border {
  border: $border;
}
.padding {
  padding: $padding !important;
}
/////////////// FORMS ///////////////////////////////////////////////
.form {
  margin-top: 5%;
}
.formInputs {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
label {
  margin-right: 10px;
}
/////////////// BOOKMARKS ///////////////////////////////////////////////
.linksBox {
  display: flex;
  gap: 5%;
  transform: translate(-29%, -0%);
}
.headerSubsection {
  min-width: 22%;
  outline: $borderDash;
}
.headerBox {
  align-items: center;
  display: flex;
  justify-content: space-between;
  outline: $borderHi;
  padding: 5px;
}
.linkHeader {
  color: $col;
  font-weight: 800;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}
.icon {
  filter: invert(25%);
  transition: 0.33s ease;
}
.icon:hover {
  filter: invert(100%);
}
.linkEntry {
  align-items: center;
  display: flex;
  text-align: left;
}
.linkEntry:hover,
.linkEntry:active {
  background-color: $colOp;
  outline: $borderHi;
}
.link {
  margin: 0%;
  padding: 0%;
  text-decoration: none;
  transition: 0.15s linear;
  width: 100%;
}
.link p {
  text-transform: lowercase;
}
.linkEntry:hover p,
.linkEntry:active p {
  color: $colHi !important;
}
.link:active {
  background-color: #ffffff !important;
}
.deleteButton {
  display: none;
  height: 24px;
  position: absolute;
  transform: translate(-29px, 2px);
  width: 24px;
}
.dataButtons {
  bottom: 0%;
  display: flex;
  left: 50%;
  margin: 0%;
  position: absolute;
  transform: translate(-50%, 0%);
  width: 100%;
}
////////////////////// DIALOG ////////////////////////////////////////
.dialog {
  background-color: $darkCol;
  border: $border;
}
.dialog::backdrop {
  background-color: $darkColOp;
}
////////////////////// BUTTONS ////////////////////////////////////////
.wideButton {
  border: $border;
  padding: 1%;
}
.wideButton,
.lowerButton {
  margin-top: 2%;
  width: 100%;
}
.wideButton:hover {
  background-color: $colOp;
}
.lowerButton {
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 10px;
}
.lowerButton:hover {
  background-color: $colOp;
  border: $borderDash;
}
.wideButton:active,
.lowerButton:active {
  background-color: $col;
  outline: $borderHi;
}
